body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h4 {
    color:grey;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
/* query-table css*/
.query-table {
    max-width: 760px;
    font-size: 12px;
    min-width: 760px;
    margin: auto;
}
.query-row {
    padding: 10px 0px;
}
.query-row:not(:last-child){
    border-bottom: 1px solid lightgrey;
}
.query-row > div {
    display:inline-block;
    vertical-align:top;
}
.query-row-vav {
    font-size:10px;
}
.query-row-vav > div{
    float:left;
    width: 50px;
    text-align:center;
}
.query-row-vav > div span{
    font-size:28px;
}
.query-row-vav-votes {

}
.query-row-vav-answers {

}
.query-row-vav-views {

}
.query-row-right {
    width: 600px;
}
.query-row-title {
    font-size:18px;
    margin: 5px 0px;
}
.query-row-details {

}
.query-row-details > div{
    
}
.query-row-language {
    float:left;
    padding: 1px 5px;
    background: lightblue;
    color: darkblue;
    text-align:center;
}
.query-row-date {
    float:right;
    margin-right: 5px;
    color:grey;
}
.query-row-user {
    float:right;
}

/* footer */
footer div {
    text-align:center;
}

/* Login */
.login {
    color:#7C7C7C;
    width: 240px;
    margin: auto;
}
.login > div {
    text-align:center;
}
#socialLoginForm,
#loginForm {
    
}
#socialLoginForm button {
    width: 240px;
    height: 52px;
    border:none;
}
#socialLoginForm button:hover {
    box-shadow: 0px 0px 3px 3px #DBDBDB;
}
#socialLoginForm button.Facebook {
    background: url('/Image/Login/fb_signin.png') no-repeat;
    background-size: 240px 52px;
}
#socialLoginForm button.Google {
    background: url('/Image/Login/gp_signin.png') no-repeat;
    background-size: 240px 52px;
}
#socialLoginForm button.Twitter {
    background: url('/Image/Login/tw_signin.png') no-repeat;
    background-size: 240px 52px;
}
#loginForm label{
    padding-top:0px;
}
#loginForm p {
    margin-top: 20px;
    font-size:12px;
}
#loginForm .checkbox {

}
#loginForm .login {
    margin-top:7px;
}
#loginForm input[type="submit"] {
    width: 100px;
}
/* profile */
#profile {
    width:940px;
    margin:auto;
    min-height:500px;
}
#profile-top {
    
}
#profile-top-catch,
#profile-top-follow {
    display:inline-block;
    vertical-align: top;
}
#profile-top-catch {
    width:790px;
}
#profile-top-name {
    font-size: 20px;
    font-weight: bold;
}
#profile-top-comment {
    
}
#profile-top-follow {
    max-width: 145px;
}
#profile-top-follow button {
    max-width: 150px;
    overflow:hidden;
}
#profile-left,
#profile-right {
    float:left;
}
#profile-left {
    width: 160px;
    margin-right: 10px;
}
#profile-image,
#profile-image img{
    width: 140px;
    height: 160px;
}
#profile-left > div {
    margin-bottom: 5px;
}
#profile-left label {
    color: #006699;
    margin: 0px;
}
#profile-left span {
    color: grey;
}
#profile-like-language,
#profile-like-genre {
    line-height: 1em;
}
#profile-edit {
    margin-top: 10px;
}
#profile-right {
    width: 770px;
}
